<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/imxblee">XB</a>. A newbiew developer who is on a mission to turn his ideas into reality.
  </p>
  <br />
  <p>
   Being so sick and tired of his job, he decided to maximise his free time to learn coding.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <div class="col-xs-12 col-sm-4">
  	<%= image_tag 'xb.jpg', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
  	<h2 class="text-center">Wan Boon</h2>
  	<br />
  	<p> A 29 years old who has been stuck in his family business ever since graduation. One day, he will make his name known with his web applications.
  	</p>
  </div>
</div>

<br class="clear"/>
<br />
<br />